---
layout: default
---
<!-- Page content -->
<div class="row align-items-center">
  <div class="col-12 col-md-auto order-md-1 d-flex align-items-center justify-content-center mb-4 mb-md-0">
    <div class="avatar text-info me-2">
      <i class="fs-4" data-duoicon="world"></i>
    </div>
    What Else –&nbsp;<time datetime="20:00">Goes Here?</time>
  </div>
  <div class="col-12 col-md order-md-0 text-center text-md-start">
    <h1>API Contracts</h1>
    <p class="fs-lg text-body-secondary mb-0">This is a control center for managing API contracts.</p>
  </div>
</div>

<!-- Divider -->
<hr class="my-8" />

{% include stats.html %}

<div class="row">

  <div class="col-12 col-xxl-8">

      {% include contracts-feature.html %}

  </div>
  
  <div class="col-12 col-xxl-4">

      {% include goals.html %}

      {% include activity.html %}

  </div>
</div>