<!-- Projects -->
<div class="card mb-6 mb-xxl-0">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="fs-6 mb-0">Featured Contracts</h3>
      </div>
      <div class="col-auto my-n3 me-n3">
        <a class="btn btn-sm btn-link" href="#!">
          Browse all
          <span class="material-symbols-outlined">arrow_right_alt</span>
        </a>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-flush align-middle mb-0">
      <thead>
        <th class="fs-sm">Title</th>
        <th class="fs-sm">Status</th>
        <th class="fs-sm">Author</th>
        <th class="fs-sm">Team</th>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="d-flex align-items-center">
              <div class="avatar">
                <img class="avatar-img" src="/assets/img/projects/project-1.png" alt="..." />
              </div>
              <div class="ms-4">
                <div><a href="/contracts/details/">Contract One</a></div>
                <div class="fs-sm text-body-secondary">Updated on Apr 10, 2024</div>
              </div>
            </div>
          </td>
          <td>
            <span class="badge bg-success-subtle text-success">Ready to Ship</span>
          </td>
          <td>
            <div class="d-flex align-items-center text-nowrap">
              <div class="avatar avatar-xs me-2">
                <img class="avatar-img" src="/assets/img/photos/photo-2.jpg" alt="..." />
              </div>
              Michael Johnson
            </div>
          </td>
          <td>
            <div class="avatar-group">
              <div class="avatar avatar-xs">
                <img class="avatar-img" src="/assets/img/photos/photo-2.jpg" alt="..." />
              </div>
              <div class="avatar avatar-xs">
                <img class="avatar-img" src="/assets/img/photos/photo-3.jpg" alt="..." />
              </div>
              <div class="avatar avatar-xs">
                <img class="avatar-img" src="/assets/img/photos/photo-4.jpg" alt="..." />
              </div>
              <div class="avatar avatar-xs">
                <img class="avatar-img" src="/assets/img/photos/photo-5.jpg" alt="..." />
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="d-flex align-items-center">
              <div class="avatar">
                <img class="avatar-img" src="/assets/img/projects/project-2.png" alt="..." />
              </div>
              <div class="ms-4">
                <div><a href="/contracts/details/">Contract Two</a></div>
                <div class="fs-sm text-body-secondary">Created on Mar 05, 2024</div>
              </div>
            </div>
          </td>
          <td>
            <span class="badge bg-danger-subtle text-danger">Cancelled</span>
          </td>
          <td>
            <div class="d-flex align-items-center text-nowrap">
              <div class="avatar avatar-xs me-2">
                <img class="avatar-img" src="/assets/img/photos/photo-1.jpg" alt="..." />
              </div>
              Emily Thompson
            </div>
          </td>
          <td>
            <div class="avatar-group">
              <div class="avatar avatar-xs">
                <img class="avatar-img" src="/assets/img/photos/photo-4.jpg" alt="..." />
              </div>
              <div class="avatar avatar-xs">
                <img class="avatar-img" src="/assets/img/photos/photo-5.jpg" alt="..." />
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="d-flex align-items-center">
              <div class="avatar text-primary">
                <i class="fs-4" data-duoicon="book-3"></i>
              </div>
              <div class="ms-4">
                <div><a href="/contracts/details/">Contract Three</a></div>
                <div class="fs-sm text-body-secondary">Created on Jan 22, 2024</div>
              </div>
            </div>
          </td>
          <td>
            <span class="badge bg-secondary-subtle text-secondary">In Testing</span>
          </td>
          <td>
            <div class="d-flex align-items-center text-nowrap">
              <div class="avatar avatar-xs me-2">
                <img class="avatar-img" src="/assets/img/photos/photo-2.jpg" alt="..." />
              </div>
              Michael Johnson
            </div>
          </td>
          <td>
            <div class="avatar-group">
              <div class="avatar avatar-xs">
                <img class="avatar-img" src="/assets/img/photos/photo-1.jpg" alt="..." />
              </div>
              <div class="avatar avatar-xs">
                <img class="avatar-img" src="/assets/img/photos/photo-3.jpg" alt="..." />
              </div>
              <div class="avatar avatar-xs">
                <img class="avatar-img" src="/assets/img/photos/photo-6.jpg" alt="..." />
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="d-flex align-items-center">
              <div class="avatar">
                <img class="avatar-img" src="/assets/img/projects/project-3.png" alt="..." />
              </div>
              <div class="ms-4">
                <div><a href="/contracts/details/">Contract Four</a></div>
                <div class="fs-sm text-body-secondary">Updated on Apr 14, 2024</div>
              </div>
            </div>
          </td>
          <td>
            <span class="badge bg-success-subtle text-success">Ready to Ship</span>
          </td>
          <td>
            <div class="d-flex align-items-center text-nowrap">
              <div class="avatar avatar-xs me-2">
                <img class="avatar-img" src="/assets/img/photos/photo-5.jpg" alt="..." />
              </div>
              Jessica Miller
            </div>
          </td>
          <td>
            <div class="avatar-group">
              <div class="avatar avatar-xs">
                <img class="avatar-img" src="/assets/img/photos/photo-3.jpg" alt="..." />
              </div>
              <div class="avatar avatar-xs">
                <img class="avatar-img" src="/assets/img/photos/photo-4.jpg" alt="..." />
              </div>
              <div class="avatar avatar-xs">
                <img class="avatar-img" src="/assets/img/photos/photo-5.jpg" alt="..." />
              </div>
              <div class="avatar avatar-xs">
                <img class="avatar-img" src="/assets/img/photos/photo-6.jpg" alt="..." />
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="d-flex align-items-center">
              <div class="avatar text-primary">
                <i class="fs-4" data-duoicon="box"></i>
              </div>
              <div class="ms-4">
                <div><a href="/contracts/details/">Contract Five</a></div>
                <div class="fs-sm text-body-secondary">Created on Apr 25, 2024</div>
              </div>
            </div>
          </td>
          <td>
            <span class="badge bg-light text-body-secondary">Backlog</span>
          </td>
          <td>
            <div class="d-flex align-items-center text-nowrap">
              <div class="avatar avatar-xs me-2">
                <img class="avatar-img" src="/assets/img/photos/photo-4.jpg" alt="..." />
              </div>
              Olivia Davis
            </div>
          </td>
          <td>
            <div class="avatar-group">
              <div class="avatar avatar-xs">
                <img class="avatar-img" src="/assets/img/photos/photo-3.jpg" alt="..." />
              </div>
              <div class="avatar avatar-xs">
                <img class="avatar-img" src="/assets/img/photos/photo-6.jpg" alt="..." />
              </div>
              <div class="avatar avatar-xs">
                <img class="avatar-img" src="/assets/img/photos/photo-1.jpg" alt="..." />
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="d-flex align-items-center">
              <div class="avatar">
                <img class="avatar-img" src="/assets/img/projects/project-1.png" alt="..." />
              </div>
              <div class="ms-4">
                <div><a href="/contracts/details/">Contract One</a></div>
                <div class="fs-sm text-body-secondary">Updated on Apr 10, 2024</div>
              </div>
            </div>
          </td>
          <td>
            <span class="badge bg-success-subtle text-success">Ready to Ship</span>
          </td>
          <td>
            <div class="d-flex align-items-center text-nowrap">
              <div class="avatar avatar-xs me-2">
                <img class="avatar-img" src="/assets/img/photos/photo-2.jpg" alt="..." />
              </div>
              Michael Johnson
            </div>
          </td>
          <td>
            <div class="avatar-group">
              <div class="avatar avatar-xs">
                <img class="avatar-img" src="/assets/img/photos/photo-2.jpg" alt="..." />
              </div>
              <div class="avatar avatar-xs">
                <img class="avatar-img" src="/assets/img/photos/photo-3.jpg" alt="..." />
              </div>
              <div class="avatar avatar-xs">
                <img class="avatar-img" src="/assets/img/photos/photo-4.jpg" alt="..." />
              </div>
              <div class="avatar avatar-xs">
                <img class="avatar-img" src="/assets/img/photos/photo-5.jpg" alt="..." />
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="d-flex align-items-center">
              <div class="avatar">
                <img class="avatar-img" src="/assets/img/projects/project-2.png" alt="..." />
              </div>
              <div class="ms-4">
                <div><a href="/contracts/details/">Contract Two</a></div>
                <div class="fs-sm text-body-secondary">Created on Mar 05, 2024</div>
              </div>
            </div>
          </td>
          <td>
            <span class="badge bg-danger-subtle text-danger">Cancelled</span>
          </td>
          <td>
            <div class="d-flex align-items-center text-nowrap">
              <div class="avatar avatar-xs me-2">
                <img class="avatar-img" src="/assets/img/photos/photo-1.jpg" alt="..." />
              </div>
              Emily Thompson
            </div>
          </td>
          <td>
            <div class="avatar-group">
              <div class="avatar avatar-xs">
                <img class="avatar-img" src="/assets/img/photos/photo-4.jpg" alt="..." />
              </div>
              <div class="avatar avatar-xs">
                <img class="avatar-img" src="/assets/img/photos/photo-5.jpg" alt="..." />
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="d-flex align-items-center">
              <div class="avatar text-primary">
                <i class="fs-4" data-duoicon="book-3"></i>
              </div>
              <div class="ms-4">
                <div><a href="/contracts/details/">Contract Three</a></div>
                <div class="fs-sm text-body-secondary">Created on Jan 22, 2024</div>
              </div>
            </div>
          </td>
          <td>
            <span class="badge bg-secondary-subtle text-secondary">In Testing</span>
          </td>
          <td>
            <div class="d-flex align-items-center text-nowrap">
              <div class="avatar avatar-xs me-2">
                <img class="avatar-img" src="/assets/img/photos/photo-2.jpg" alt="..." />
              </div>
              Michael Johnson
            </div>
          </td>
          <td>
            <div class="avatar-group">
              <div class="avatar avatar-xs">
                <img class="avatar-img" src="/assets/img/photos/photo-1.jpg" alt="..." />
              </div>
              <div class="avatar avatar-xs">
                <img class="avatar-img" src="/assets/img/photos/photo-3.jpg" alt="..." />
              </div>
              <div class="avatar avatar-xs">
                <img class="avatar-img" src="/assets/img/photos/photo-6.jpg" alt="..." />
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="d-flex align-items-center">
              <div class="avatar">
                <img class="avatar-img" src="/assets/img/projects/project-3.png" alt="..." />
              </div>
              <div class="ms-4">
                <div><a href="/contracts/details/">Contract Four</a></div>
                <div class="fs-sm text-body-secondary">Updated on Apr 14, 2024</div>
              </div>
            </div>
          </td>
          <td>
            <span class="badge bg-success-subtle text-success">Ready to Ship</span>
          </td>
          <td>
            <div class="d-flex align-items-center text-nowrap">
              <div class="avatar avatar-xs me-2">
                <img class="avatar-img" src="/assets/img/photos/photo-5.jpg" alt="..." />
              </div>
              Jessica Miller
            </div>
          </td>
          <td>
            <div class="avatar-group">
              <div class="avatar avatar-xs">
                <img class="avatar-img" src="/assets/img/photos/photo-3.jpg" alt="..." />
              </div>
              <div class="avatar avatar-xs">
                <img class="avatar-img" src="/assets/img/photos/photo-4.jpg" alt="..." />
              </div>
              <div class="avatar avatar-xs">
                <img class="avatar-img" src="/assets/img/photos/photo-5.jpg" alt="..." />
              </div>
              <div class="avatar avatar-xs">
                <img class="avatar-img" src="/assets/img/photos/photo-6.jpg" alt="..." />
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="d-flex align-items-center">
              <div class="avatar text-primary">
                <i class="fs-4" data-duoicon="box"></i>
              </div>
              <div class="ms-4">
                <div><a href="/contracts/details/">Contract Five</a></div>
                <div class="fs-sm text-body-secondary">Created on Apr 25, 2024</div>
              </div>
            </div>
          </td>
          <td>
            <span class="badge bg-light text-body-secondary">Backlog</span>
          </td>
          <td>
            <div class="d-flex align-items-center text-nowrap">
              <div class="avatar avatar-xs me-2">
                <img class="avatar-img" src="/assets/img/photos/photo-4.jpg" alt="..." />
              </div>
              Olivia Davis
            </div>
          </td>
          <td>
            <div class="avatar-group">
              <div class="avatar avatar-xs">
                <img class="avatar-img" src="/assets/img/photos/photo-3.jpg" alt="..." />
              </div>
              <div class="avatar avatar-xs">
                <img class="avatar-img" src="/assets/img/photos/photo-6.jpg" alt="..." />
              </div>
              <div class="avatar avatar-xs">
                <img class="avatar-img" src="/assets/img/photos/photo-1.jpg" alt="..." />
              </div>
            </div>
          </td>
        </tr>        
      </tbody>
    </table>
  </div>
</div>