<script>
    const today = new Date();
    const year = today.getFullYear();
    const month = String(today.getMonth() + 1).padStart(2, '0'); // January is 0
    const day = String(today.getDate()).padStart(2, '0');
    
    var formattedDate = year + '-' + month + '-' + day;
    
    function show(id) {
    
      if(document.getElementById(id).style.display == 'none'){
        document.getElementById(id).style.display = '';
      }
      else{
        document.getElementById(id).style.display = 'none';
      }
    
    }
    function slugify(str) {
      return String(str)
        .normalize('NFKD') // split accented characters into their base characters and diacritical marks
        .replace(/[\u0300-\u036f]/g, '') // remove all the accents, which happen to be all in the \u03xx UNICODE block.
        .trim() // trim leading or trailing whitespace
        .toLowerCase() // convert to lowercase
        .replace(/[^a-z0-9 -]/g, '') // remove non-alphanumeric characters
        .replace(/\s+/g, '-') // replace spaces with hyphens
        .replace(/-+/g, '-'); // remove consecutive hyphens
    }
    
    // PULL THESE INTO A MASTER FILE
    function splitPascalCase(word) {
          const camelCase = word.replace(/([a-z])([A-Z])/g, '$1 $2').split(" ");
    
          let flat = "";
    
          camelCase.forEach(word=>{    
              flat = flat + word.charAt(0).toUpperCase() + word.slice(1) + " "
          });
          return flat; 
      }
    
    function capitalizeFirstLetter(str) {
        return str.replace(/\w\S*/g, function(txt){
            return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
        });
    }  
    
    function stripHTML(s){
      s = s.replace(/<[^>]*>?/gm, '');
      return s;
    }
    
      function loadExperienceChoices(){
    
        const select = document.getElementById("choices");
    
        var choices = new Choices(select,
        {
          allowHTML: true,
          itemSelectText: '',
          position: 'bottom',
          callbackOnCreateTemplates: function(strToEl, escapeForTemplate) {
            var classNames = this.config.classNames;
            var itemSelectText = this.config.itemSelectText;
            var allowHTML = this.config.allowHTML;
            return {
              item: function({ classNames }, data) {
                return strToEl(
                  '\
              <div\
                class="' +
                    String(classNames.item) +
                    ' ' +
                    String(
                      data.highlighted
                        ? classNames.highlightedState
                        : classNames.itemSelectable
                    ) +
                    '"\
                data-item\
                role="option"\
                data-id="' +
                    String(data.id) +
                    '"\
                data-value="' +
                    String(escapeForTemplate(allowHTML, data.value)) +
                    '"\
                ' +
                    String(data.active ? 'aria-selected="true"' : '') +
                    '\
                ' +
                    String(data.disabled ? 'aria-disabled="true"' : '') +
                    '\
                >\
                <span class="material-symbols-outlined fs-6 text-success" style="padding: 0px 5px 0px 0px; margin: 0px 0px 0px 0px;">filter_list</span> ' +
                    String(escapeForTemplate(allowHTML, data.label)) +
                    '\
              </div>\
            '
                );
              },
              choice: function({ classNames }, data) {
                return strToEl(
                  '\
              <div\
                class="' +
                    String(classNames.item) +
                    ' ' +
                    String(classNames.itemChoice) +
                    ' ' +
                    String(
                      data.disabled
                        ? classNames.itemDisabled
                        : classNames.itemSelectable
                    ) +
                    '"\
                data-select-text="' +
                    String(itemSelectText) +
                    '"\
                data-choice \
                ' +
                    String(
                      data.disabled
                        ? 'data-choice-disabled aria-disabled="true"'
                        : 'data-choice-selectable'
                    ) +
                    '\
                data-id="' +
                    String(data.id) +
                    '"\
                data-value="' +
                    String(escapeForTemplate(allowHTML, data.value)) +
                    '"\
                ' +
                    String(
                      data.groupId > 0 ? 'role="treeitem"' : 'role="option"'
                    ) +
                    '\
                >\
                <span class="material-symbols-outlined fs-6 text-success" style="padding: 0px 5px 0px 0px; margin: 0px 0px 0px 0px;">filter_list</span> ' +
                    String(escapeForTemplate(allowHTML, data.label)) +
                    '\
              </div>\
            '
                );
              },
            };
          },
        }
        );
    
        choices.passedElement.element.addEventListener(
          'addItem',
          function(event) {
            // do something creative here...
            //console.log(event.detail.id);
            //console.log(event.detail.value);
            //console.log(event.detail.label);
            //console.log(event.detail.customProperties);
          },
          false,
        );          
    
    
        var experience_choices = [{
          label: 'Experiences',
          disabled: false,
          choices: []
          }];
    
        var experiences = JSON.parse(document.getElementById("experiences-store").value);
    
        var e = {};
        e.value = 'All';
        e.label = 'All';
        e.selected = true;
        experience_choices[0].choices.push(e);
    
        for (let i = 0; i < experiences.length; i++) {
          e = {};
          e.value = experiences[i].name;
          e.label = experiences[i].name;
          e.selected = false;
          experience_choices[0].choices.push(e);              
        }
    
        choices.setChoices(experience_choices); 
    
        }  
    
      function getPolicies() {
        const options = {
          method: 'GET'
        };
        fetch('{{ site.policiesApiBaseUrl }}/policies?limit=1000', options)
          .then(function (response) {
            if (!response.ok) {
              console.log('Error with Status Code: ' + response.status);
            }
            response.json().then(function (response) {
    
              var policies = response.data;
              document.getElementById("policies-store").value = JSON.stringify(policies);          
    
            });
          })
          .catch(function (err) {
            console.log('Error: ' + err);
          });
      }  
    
      function getRules() {
          const options = {
            method: 'GET'
          };
          fetch('{{ site.rulesApiBaseUrl }}/rules?limit=1000', options)
            .then(function (response) {
              if (!response.ok) {
                console.log('Error with Status Code: ' + response.status);
              }
              response.json().then(function (response) {
    
                var rules = response.data;
                document.getElementById("rules-store").value = JSON.stringify(rules);          
    
              });
            })
            .catch(function (err) {
              console.log('Error: ' + err);
            });
        }  
      
      function getExperiences() {
        const options = {
          method: 'GET'
        };
        fetch('{{ site.experiencesApiBaseUrl }}/experiences?limit=1000', options)
          .then(function (response) {
            if (!response.ok) {
              console.log('Error with Status Code: ' + response.status);
            }
            response.json().then(function (response) {
              
              var experiences = response.data;
              console.log(experiences);
              document.getElementById("experiences-store").value = JSON.stringify(experiences);          
    
              loadExperienceChoices();
        
            });
          })
          .catch(function (err) {
            console.log('Error: ' + err);
          });
        }    
    
      // Load Governance
      getExperiences();
      getPolicies();
      getRules();
    
    </script>