<!-- Sidebar (desktop only) -->
<div class="sidebar">

  <div class="nav-heading">Toolbox</div>
  <nav class="nav flex-column">
    <a class="nav-link d-flex align-items-center{% if page.nav == 'Companies' %} active{% endif %}" href="https://companies.apievangelist.com">
      <span class="material-symbols-outlined">domain</span>Companies
    </a>
    <a class="nav-link d-flex align-items-center{% if page.nav == 'APIs' %} active{% endif %}" href="https://apis.apievangelist.com">
      <span class="material-symbols-outlined">api</span>APIs
    </a>
  </nav>

</div>
