<!-- Stats -->
<div class="row mb-8">
  <div class="col-12 col-md-6 col-xxl-3 mb-4 mb-xxl-0">
    <div class="card bg-body-tertiary border-transparent">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col">
            <!-- Heading -->
            <h4 class="fs-sm fw-normal text-body-secondary mb-1">Earned</h4>

            <!-- Text -->
            <div class="fs-4 fw-semibold">$1,250</div>
          </div>
          <div class="col-auto">
            <!-- Avatar -->
            <div class="avatar avatar-lg bg-body text-primary">
              <i class="fs-4" data-duoicon="credit-card"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-xxl-3 mb-4 mb-xxl-0">
    <div class="card bg-body-tertiary border-transparent">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col">
            <!-- Heading -->
            <h4 class="fs-sm fw-normal text-body-secondary mb-1">Hours logged</h4>

            <!-- Text -->
            <div class="fs-4 fw-semibold">35.5 hrs</div>
          </div>
          <div class="col-auto">
            <!-- Avatar -->
            <div class="avatar avatar-lg bg-body text-primary">
              <i class="fs-4" data-duoicon="clock"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-xxl-3 mb-4 mb-md-0">
    <div class="card bg-body-tertiary border-transparent">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col">
            <!-- Heading -->
            <h4 class="fs-sm fw-normal text-body-secondary mb-1">Avg. time</h4>

            <!-- Text -->
            <div class="fs-4 fw-semibold">2:55 hrs</div>
          </div>
          <div class="col-auto">
            <!-- Avatar -->
            <div class="avatar avatar-lg bg-body text-primary">
              <i class="fs-4" data-duoicon="slideshow"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-xxl-3">
    <div class="card bg-body-tertiary border-transparent">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col">
            <!-- Heading -->
            <h4 class="fs-sm fw-normal text-body-secondary mb-1">Weekly growth</h4>

            <!-- Text -->
            <div class="fs-4 fw-semibold">14.5%</div>
          </div>
          <div class="col-auto">
            <!-- Avatar -->
            <div class="avatar avatar-lg bg-body text-primary">
              <i class="fs-4" data-duoicon="discount"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>