---
access_model:
  confidence: low
  label: Unknown
  onboarding: unknown
  pricing: unknown
  public: false
  source: []
  trial: false
  try_now: false
api_count: 1
apis:
- description: Android library and API to verify the safety of user devices, detect rooted devices and other risks
  name: Application Environment Verification
  slug: application-environment-verification
artifact_total: 1
common:
- group: company
  title: ''
  type: Website
  url: https://github.com/fingerprintjs/aev
- group: other
  title: ''
  type: PublicAPIsListing
  url: https://github.com/public-apis/public-apis
created: '2026-05-28'
description: Android library and API to verify the safety of user devices, detect rooted devices and other risks
image: https://kinlane-images.s3.amazonaws.com/shared/apis-json/icons/application-environment-verification.png
layout: provider
modified: '2026-05-28'
name: Application Environment Verification
nav: Providers
network: true
overview: Application Environment Verification publishes 1 API on the [APIs.io](https://apis.io/) network. Tagged areas include Security and Public APIs.
random_paper: 12
screenshot: https://raw.githubusercontent.com/api-evangelist/application-environment-verification/refs/heads/main/screenshots/application-environment-verification-2026-06-20T172333.png
slug: application-environment-verification
tags:
- Security
- Public APIs
---
