---
layout: default
section: Working
title: Working
summary: This is used to publish knowledge posts.
nav: Working
sub: Working
---

<div class="row align-items-center mb-7">
  <div class="col-auto">
    <img src="/assets/img/api-evangelist-cartoon.jpg" width="50">
  </div>
  <div class="col-9">
      <!-- Breadcrumb -->
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-2">
              <li class="breadcrumb-item"><a class="text-body-secondary" href="#">{{ page.section }}</a></li>
          </ol>
      </nav>
      <h1 class="fs-4 mb-0">{{ page.title }}
          <style>
              .popover{
                  max-width: 750px;;
              }            
          </style>
          <div style="cursor:pointer; position:relative; margin-left: 3px; top: 3px;" class="material-symbols-outlined fs-4 text-emphasis" data-bs-placement="right" data-bs-html="true" data-bs-trigger="hover" data-bs-toggle="popover" data-bs-title="Working on Knowledge" data-bs-content="Using this to break up the knowledge into more digestable chunks.">info</div>
      </h1>
  </div>  
</div>

<div class="row gx-xl-9">

    <div class="col-12 col-xxl-4 order-xxl-1">

        <div class="position-sticky mb-8" style="top: 2rem">

            {% include services-api-evangelist.html %}
            <br>
            {% include services-partner.html %}

        </div>
    </div>  

  <div class="col-12 col-xxl-8 order-xxl-0">

    <section>
      <div class="row">
        <div class="col">
  
          <strong>Blogs</strong>
          <ul>
          {% assign this_tag = "Blog" %}
          {% assign contracts = site.store %}
          {% for contract in contracts %}  

            {% assign include = 0 %}
            {% assign url = '' %}
            {% for api in contract.apis %}  
              {% for property in api.properties %}  
                {% if property.type == "Blog" or property.type == "Blogs" %} 
                  {% assign include = 1 %}
                  {% assign url = property.url %}
                {% endif %}  
              {% endfor %}  
            {% endfor %}    

            {% for common in contract.common %}  
              {% if common.type == "Blog" or common.type == "Blogs" %} 
                {% assign include = 1 %}
                {% assign url = common.url %}
              {% endif %}  
            {% endfor %}              

            {% if include == 1 %} 
              <li><a href="{{ url }}" target="_blank">{{ contract.name }}</a></li>
            {% endif %}  

          {% endfor %}  
          </ul>

        </div>
      </div>
    </section>   

  </div>
</div>



